h1 {
	color: black;
	font-size: 40px;
	font-family: 'Lobster Two', cursive;;
	letter-spacing: 10px;
	text-align: center;
}
h2 {
	color: #6F1D1B;
	background-color: beige;
	font-size: 30px;
	line-height: 50px;
	font-family: 'Lobster Two', cursive;;
	text-align: center
}
body{
	background-image: url(images/vague.jpg);
	font-family: 'Lobster Two', cursive;;
	font-size: 20px;
	line-height: 1.8;
	letter-spacing: 1px;
	color: rg(30,30,30);
	text-align: center;
	text-decoration: none;
	font-weight: normal;
}
a{
	text-decoration: none;
	text-align: center;
	color: #A26769;
}
a:hover{
	color:  gray;
}
p{
	text-align: center;
}
.container {
	width: 1140px;
	margin: 20px auto;

}
@media (min-width: 768px) and (max-width:  992px) {
	.container {
		width: 720px;
	}
} 
@media (min-width: 576px) and (max-width:  767px) {
	.container {
		width: 720px;
	}
} 

@media(max-width: 575px) {
	.container {
		width: 100%;
		margin: 20px;
	}
}

.card-white {
	padding: 20px 30px;
	background-color: beige;
	border-radius: 5px;
	box-shadow: 0px 10px 30px rgba(50,50,50,0.2);
	text-align: center;
	margin: 20px 0;
}

.btn-blue {
	background-color: #ECE2D0;
	padding: 15px 20px;
	color: white;
	border-radius: 4px;
	margin: 20px 0;
	display: inline-block;

}

.img-circle {
	border-radius: 60%;
}

.img-bordered {
  border: 10px solid white;
}

#leader {
  box-shadow: 0px 10px 10px rgba(0,0,0,0.9);
}


.btn-blue:hover {
	color: white;
	background-color: #D5B9B2;
}

.img-rounded {
	border-radius: 100px;
}

#img-profile {
	width: 150px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
